@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.4rem;
    padding-bottom: .3em;
    letter-spacing: 0.12em;
    text-align: left;
    /* line-height: 1.5em; */
}

.header .navbar {
    /* border: 2px solid red; */
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header .navbar h1 {
    float: left;
    font-size: 3rem;
    padding: 0.2em 0;
    letter-spacing: 0.2em;
}

.header .navbar .nav-items {
    float: right;
}

.header .navbar .nav-item {
    list-style: none;
}

.header .navbar a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.6em .2em;
    font-weight: 500;
    text-transform: capitalize;
    
}
.header .navbar .nav-items{
    margin-top: 0.4em;
}

.header .navbar::after{
    content: "";
    display: block;
    clear: both;
}

.header .header-content {
    height: 55vh;
    width: 100%;
    background: linear-gradient(rgba(150, 150, 150, 0.5), rgba(150, 150, 150, 0.5)), url("../img/header-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header .header-content .tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header .header-content .tagline h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: .3em;
    color: green;
    /* text-shadow: 1em 1em 1em #fff; */
}

.header .header-content .tagline p {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: .3em;
    /* text-shadow: 0.1em .1em 1em #000; */
    font-weight: 400;

}


/*********** Utitlity class ***********/

.text-grey{
    color: rgb(81, 78, 78);
}

.btn{
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase

}

.btn-primary{
    display: inline-block;
    padding: 0.3em .8em;
    margin-top: .3em;
    background-color: rgb(38, 202, 161);
    border-radius: 20em;
    color: #fff;
    font-weight: 500;
}

.btn-primary:hover{
    background-color: rgb(20, 181, 140);
}


/********** main body section *************/


.about-us{
    margin-top: 6em;
}

.about-us .wrapper {
    display: flex;
    /* border: 2px solid red; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .05));
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.about-us .about-us-content{
    width: 60%;
    padding-right: 2em;
}
.about-us .about-us-image {
    width: 40%;

}

.about-us .about-us-image img {
    height: auto;
    width: 100%
}

.about-us .wrapper h3{
    font-size: 2.5rem;
    padding-bottom: .3em;
    letter-spacing: 2.5px;
}

.about-us .wrapper h4{
    font-size: 1.5rem;
    padding-bottom: .3em;
    letter-spacing: 3px;
}

.about-us .wrapper p{
    font-size: 1.4rem;
    padding-bottom: .3em;
    letter-spacing: 0.12em;
    text-align: left;
    line-height: 1.5em;
}

/************ Food type *******************/

.food-types{
    margin-top: 6em;
}

.food-types h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    letter-spacing: 3px;
    /* padding: 0.5em ; */
    margin-bottom: 1em;
}

.food-types .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

.food-types .wrapper .item {
    width: 32%;
}

.food-types .wrapper img {
    width: 100%;
    height: auto;
}

/********** food menu ****************/

#food-menu{
    margin-top: 6em;

}

#food-menu h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    letter-spacing: 3px;
    /* padding: 0.5em ; */
    margin-bottom: 1em;

}

#food-menu .menu-items{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


#food-menu .menu-items .item {
    display: flex;
    flex-flow: row nowrap;
    min-width: 450px;
    /* border: 1px solid green; */
    padding: .5em 0;
    flex-basis: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.045);
    margin: 1.5em;
}

#food-menu .menu-items .item img{
    width: 15em;
    height: 15em;
    border-radius: 10em;
    align-self: center;
    /* justify-self: center; */
    /* margin-left: 2.5em;
    margin-right: 2.5em; */
    margin: 1em;

}

#food-menu .menu-items .item .content {
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#food-menu .menu-items .item .content h3 {
    color: green;
    font-size: 2rem;
    text-transform: capitalize;

    /* margin-bottom: 0.5em; */
}

#food-menu .menu-items .item .content p {
    /* padding: .5em 1em; */
    text-align: justify;
}

/********* testimonial section ************/

#testimonial {
    text-align: center;
    margin-top: 10em;
}

#testimonial h1 {
    font-size: 4rem;
    text-transform: capitalize;
}

#testimonial .wrapper {
    margin-top: 5em;
}

#testimonial .testimonial-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#testimonial .testimonial-items .testimonial-item {
    flex-basis: 33%;
    /* border: 1px solid red; */
}

#testimonial .testimonial-items p {
    padding: 1em;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-align: center;
}


#testimonial .testimonial-items i{
    font-size: 2.5rem;
    color: gold;

}
#testimonial .testimonial-items img{
    height: 10em;
    width: 10em;
    border-radius: 10em;
}

/********* contact us *************/

#contact h1 {
    font-size: 4rem;
    letter-spacing: .15em;
    text-align: center;
    text-transform: capitalize;
    padding: 1em;
}

#contact .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#contact .wrapper img{
    flex-basis: 40%;
    max-width: 40%;
}

#contact .wrapper form{
    display: flex;
    flex-flow: column nowrap;
    /* margin-left: 5em ; */
    padding-left: 4em;
    flex-basis: 60%;
    justify-content: center;
}

#contact .wrapper form input, #contact .wrapper form textarea{
    font-size: 1.5rem;
    border: none;
    padding: .5em;
    margin-bottom: 2em;
    border-bottom: 1px solid grey;
    /* border-left: 1px solid grey; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.074);
}

#contact .wrapper form button {
    width: 200px;
}

/********** footer section **********/

.footer {
    margin-top: 10em;
    background-color: green;
    padding: 5em;
    text-align: center;
}

.footer i {
    font-size: 2rem;
    padding:0 1em;
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 1em;
}